html, body {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(153, 210, 243);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    height: max-content;
    overflow-x: hidden;
}
.container {
    width: 97%;
    max-width: 140rem;
    display: flex;
    z-index: 100;
}

.snow {
    position: absolute;
    width: .5rem;
    height: .5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 0%;
    z-index: 1;
    animation: letitsnow 10s infinite linear;
}

@keyframes letitsnow {
    0% {
        top: 0%
    }
    100% {
        top: 95%
    }
}



.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 5rem;
    background-color: rgb(255, 255, 255);
    background-image: url("./img/winter.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_container {
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}
.logo_img {
    height: 3.5rem;
}
.logo_txt {
    font-size: 2rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: none;
}




.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
.social_a {
    height: 3.5rem;
    width: 4rem;
    display: flex; 
}
.social_svg {
    fill: rgb(0, 168, 191);
}
.social_a:hover svg {
    fill: rgb(0, 228, 194);
}


.search {
    width: 100%;
    min-width: 10rem;
    max-width: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    box-shadow: .1rem .2rem .3rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    overflow: hidden;
    
}
.search:hover {
    position: absolute;
    z-index: 100;
    width: 100%;
}
.search_input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
}
.search_btn {
    border: none;
    margin: 0;
    padding: 0.7rem;
    width: 5rem;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 175, 44);
    cursor: pointer;
}
.search_btn:hover {
    background-color: rgb(0, 199, 50);
}
.search_svg {
    height: 100%;
    fill: aliceblue;
}

section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_container {
    gap: 1rem;
    flex-direction: column;
}

.filters {
    padding: .4rem 0;
    margin: 1rem 0;
    list-style-type: none;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.1);
    border-radius:  .5rem;
    overflow-x: auto;
}
.filters_li {
    padding: .8rem 0;
    margin: .5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(78, 78, 78);
    cursor: pointer;
    min-width: 17rem;
    border-radius:  .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
.filters_li svg {
    fill: rgb(78, 78, 78);
    height: 2rem;
    width: 2rem;
}
.filters_li--active {
    color: rgb(0, 168, 191);
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.2);
}
.filters_li--active svg {
    fill: rgb(0, 168, 191);
}



.block {
    margin: 3rem 0 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem 2rem;
}


.a {
    position: relative;
    width: 15rem;    
    display: flex;
    gap: .6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.1);
    transition: .1s;
    background: #fff;
}
.a:hover {
    transform: translateY(-0.5rem);
    box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, 0.3);
}


.status {
    position: absolute;
    top: 1rem;
    left: 0;
    border-radius: 0 .3rem .3rem 0;
    background-color: rgb(54, 215, 0);
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.3);
    padding: .5rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.1);
}
.name {
    font-size: 1.6rem;
    font-weight: 700;
    margin: .5rem 0;
    color: rgb(94, 94, 94);
}



.invisibility, 
.invisibility--filter {
    display: none;
}



@media screen and ( min-width: 350px ) {
    .logo_txt {
        display: flex;
    }
}
@media screen and ( min-width: 500px ) {
    .search:hover {
        position: static;
    }
    .search_btn {
        display: flex;
    }
}

@media screen and ( min-width: 1024px ) {
    .container {
        flex-direction: row;
    }
    .filters {
        position: sticky;
        margin: 3rem 0;
        top: 8rem;
        padding: 1rem;
        flex-direction: column;
        overflow-x: hidden;
    }
    .filters_li {
        padding: .5rem;
        justify-content: flex-start;
    }

}

@media screen and ( min-width: 2000px ) {
    html, body {
        font-size: 75%;
    }
}
@media screen and ( min-width: 2500px ) {
    html, body {
        font-size: 90%;
    }
}
@media screen and ( min-width: 3000px ) {
    html, body {
        font-size: 110%;
    }
}