html, body {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-image: linear-gradient( 165deg, rgb(153, 210, 243), rgb(153, 243, 228)) ;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    height: max-content;
    overflow-x: hidden;
}
.container {
    width: 97%;
    max-width: 140rem;
    display: flex;
    z-index: 100;
}

.snow {
    position: fixed;
    width: .5rem;
    height: .5rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    top: 0%;
    z-index: 1;
    animation: letitsnow 10s infinite linear;
}

@keyframes letitsnow {
    0% {
        top: 0%
    }
    100% {
        top: 100%
    }
}



.header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 5.5rem;
    background-color: rgb(255, 255, 255);
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_container {
    position: relative;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;
}
.logo_img {
    height: 3.5rem;
}
.logo_txt {
    font-size: 2rem;
    font-weight: 500;
    width: min-content;
    color: rgb(75, 75, 75);
    text-transform: uppercase;
    display: none;
    flex-direction: column;
}
.logo_span {
    font-size: 1.4rem;
    font-weight: 300;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
}
.social_a {
    height: 3.5rem;
    width: 4rem;
    display: flex; 
}
.social_svg {
    fill: rgb(0, 168, 191);
}
.social_a:hover svg {
    fill: rgb(0, 228, 194);
}


.search {
    width: 100%;
    min-width: 10rem;
    max-width: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    box-shadow: .1rem .2rem .3rem rgba(0, 0, 0, 0.3);
    border-radius: .5rem;
    overflow: hidden;
    
}
.search:hover {
    position: absolute;
    z-index: 100;
    width: 100%;
}
.search_input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    font-size: 1.4rem;
    border: none;
    outline: none;
}
.search_btn {
    border: none;
    margin: 0;
    padding: 0.7rem;
    width: 5rem;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 175, 44);
    cursor: pointer;
}
.search_btn:hover {
    background-color: rgb(0, 199, 50);
}
.search_svg {
    height: 100%;
    fill: aliceblue;
}


.basket {
    position: fixed;
    z-index: 1000;
    bottom: 2rem;
    right: 2rem;
    border: none;
    background: none;
    height: 5rem;
    width: 5rem;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 .3rem .5rem rgba(0, 0, 0, 0.4);
    transition: .1s;
    background-color: rgb(237, 252, 255);
}

.basket_svg {
    height: 3rem;
    width: 3rem;
    fill: rgb(0, 149, 169);
}
.basket_count {
    position: absolute;
    top: 25%;
    left: -10%;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 1.2rem;
    color: #fff;
    height: 2rem;
    width: 2rem;
    background-color: rgba(255, 68, 0, 0.75);
}

.basket:hover {
    box-shadow: 0 .2rem .4rem rgb(162, 162, 162);
}
.basket:hover .basket_svg {
    fill: rgb(0, 175, 199);
}
.basket:hover .basket_count {
    background-color: rgba(255, 68, 0, 0.85);

}
section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product_container {
    gap: 1rem;
    flex-direction: column;
}

.filters {
    padding: .4rem 0;
    margin: 1rem 0;
    list-style-type: none;
    height: max-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #fff;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.1);
    border-radius:  .5rem;
    overflow-x: auto;
}
.filters_li {
    padding: .8rem 0;
    margin: .5rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(78, 78, 78);
    cursor: pointer;
    min-width: 17rem;
    border-radius:  .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem
}
.filters_li:hover {
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.2);
}
.filters_li svg {
    fill: rgb(78, 78, 78);
    height: 2rem;
    width: 2rem;
}
.filters_li--active {
    color: rgb(0, 168, 191);
    box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.3);
}
.filters_li--active svg {
    fill: rgb(0, 168, 191);
}



.block {
    margin: 3rem 0 10rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem 2rem;
}


.prod {
    position: relative;
    width: 15rem;    
    display: flex;
    gap: .6rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 1rem;
    box-shadow: .3rem .3rem .3rem rgba(0, 0, 0, 0.1);
    transition: .1s;
    background: #fff;
}
.prod:hover {
    transform: translateY(-0.5rem);
    box-shadow: .5rem .5rem .3rem rgba(0, 0, 0, 0.3);
}


.status {
    position: absolute;
    top: 1rem;
    left: 0;
    z-index: 10;
    border-radius: 0 .3rem .3rem 0;
    background-color: rgb(54, 215, 0);
    box-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 0.3);
    padding: .5rem 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
    color: rgb(94, 94, 94);
}
.img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 1rem;
    transition: .3s;
}
.img:hover {
    filter: saturate(50%);
}
.tobasket, .remove {
    margin-top: .5rem;
    width: 100%;
    height: 4rem;
    border-radius: 0 0 1rem 1rem;
    border: none;
    background-color: #fff;
    box-shadow: 0 0 .2rem rgb(105, 105, 105), 0 0 .2rem #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    color: rgb(126, 126, 126);
}
.tobasket {
    font-size: 1.2rem;
    font-weight: 600;
}
.tobasket_svg {
    height: 1.6rem;
    width: 3rem;
    fill: rgb(126, 126, 126);
    transform: translateY(-.2rem);
}
.tobasket:hover {
    color: #fff;
    background-color: rgb(7, 206, 0);
    box-shadow: 0 0 .2rem rgb(255, 255, 255), 0 0 .2rem rgb(255, 255, 255);
}
.tobasket:hover svg{
    fill: #fff;
}

.remove {
    font-size: 1rem;
    font-weight: 300;
}
.remove:hover {
    background-color: red;
    color: #fff;
}



.added {
    display: none;
}




.cart {
    display: none;
    justify-content: start;
    flex-direction: column;
    gap: 1rem;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(141, 141, 141, 0.8);
    max-width: 100%;
    max-height: 100vh;
}


.cart_panel {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50rem;
    background-color: rgb(238, 238, 238);
    margin-top: 6rem;
    border-radius: 1rem;
    box-shadow: .5rem .5rem .5rem rgba(0, 0, 0, 0.1);
}
.cart_a {
    font-size: 1.6rem;
    box-shadow: .1rem .2rem .2rem rgb(119, 119, 119);
    margin: 1rem 2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background-color: rgb(0, 168, 191);
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.cart_a:hover {
    background-color: rgb(0, 198, 224);
}

.cart_container {
    height: 70%;
    max-height: 70%;
    overflow-y: auto;
    gap: 1rem;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 0.1);
    background-color: rgb(238, 238, 238);
    padding: 1rem;
    border-radius: 1rem;

}

.invisibility, 
.invisibility--filter {
    display: none;
}



@media screen and ( min-width: 350px ) {
    .logo_txt {
        display: flex;
    }
}
@media screen and ( min-width: 500px ) {
    .search:hover {
        position: static;
    }
    .search_btn {
        display: flex;
    }
}

@media screen and ( min-width: 1024px ) {
    .container {
        flex-direction: row;
    }
    .filters {
        position: sticky;
        margin: 3rem 0;
        top: 8rem;
        padding: 1rem;
        flex-direction: column;
        overflow-x: hidden;
    }
    .filters_li {
        padding: .5rem;
        justify-content: flex-start;
    }

}

@media screen and ( min-width: 2000px ) {
    html, body {
        font-size: 75%;
    }
}
@media screen and ( min-width: 2500px ) {
    html, body {
        font-size: 90%;
    }
}
@media screen and ( min-width: 3000px ) {
    html, body {
        font-size: 110%;
    }
}